<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">Домой</a></li>
        		<li><a href="/blog">Блог</a></li>
        		<li><a href="/selected">Подборки</a></li>
	        	<li><a href="/about">Обо мне</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="https://tkachenkomn.ru">tkachenkomn.ru</a></li>
				</ul>
			</footer>
		</body>
	</html>
